.comment-author-text {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

.edited-text {
  font-size: 14px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-options-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent !important;
  color: gray !important;
  font-size: 2rem;
  height: 3rem !important;
  width: 6rem !important;
  outline: black !important;
  border: 1px solid transparent !important;

  &:focus {
    outline: black !important;
    border: 1px solid black !important;
    box-shadow: none !important;
  }
}

.comment-dropdown-btn {
  outline: none;
  border: none;
  background-color: transparent;
}