.form-heading {
  margin-bottom: 2rem;
}

input {
  &:read-only {
    background-color: transparent !important;   
  }
}

textarea {
  resize: none;
  height: 10rem !important;
}

label {
    color: $gray-600;
}

form {
  >button {
    margin: 1rem 0;
  }
}