// 
// Forms
// 

.form-floating {

  input,
  textarea {
      border-left: 0;
      border-right: 0;
      border-top: 0;

      &:focus {
          box-shadow: none;
      }

  }

  textarea {
    resize: none;
    height: 10rem !important;
  }

  label {
      color: $gray-600;
  }

}

input {
  &:read-only {
    background-color: transparent !important;   
  }
}